.book-info {
  background-color: #F4F4F4;
  padding: 24px;
  border-radius: 14px;
  margin-top: 24px;
  text-align: center;
}

.book-info__languages {
  margin: 12px 0 24px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
}