.login__forgot-password {
  display: block;
  width: fit-content;
  margin-top: 10px;
  margin-left: auto;
  
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  text-align: right;
  color: #808080;
}