@import "styles/variables.scss";

.button {
  background-color: $yellow;
  color: #fff;
  padding: 16px 35px;
  border-radius: $big-radius;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: none;
  text-decoration: none;

  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.button[data-readonly="true"] {
  cursor: unset;
}

.button--primary {
  background-color: $yellow;
}

.button--pink {
  background-color: $accent-color;
}

.button--muted {
  background-color: $muted;
  color: #000;
}

.button--success {
  background-color: $green;
  color: #fff;
}

.button--red {
  background-color: $red;
  color: #fff;
}

.button--without-icon {
  padding-top: 20px;
  padding-bottom: 20px;
}

.button--400 {
  font-weight: 400;
}

.button--500 {
  font-weight: 500;
}

.button--700 {
  font-weight: 700;
}

.button__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__inner svg {
  margin-right: 10px;
}