html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "SFPro-Display", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #292D34;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  overflow: auto;
  flex-grow: 1;
}