.title {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0;
}

.title--400 {
  font-weight: normal;
}

.title--500 {
  font-weight: 500;
}

.title--600 {
  font-weight: 600;
}

.title--700 {
  font-weight: 700;
}