@import "styles/mixins.scss";
@import "styles/variables.scss";

.book-header__container {
  display: flex;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.book-header__back {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &:active {
    background-color: #F5F5F5;
  }
}

.book-header__back-icon {
  display: block;
}

.book-header__title {
  flex-grow: 1;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.book-header__popup-wrapper {
  position: relative;
}

.book-header__popup-toggler {
  width: 36px;
  height: 36px;
  background-color: transparent;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:active {
    background-color: #F5F5F5;
  }
}

.book-header__popup-toggler-icon {
  display: block;
  margin: auto;
}

.book-header__popup {
  min-width: 190px;
  top: calc(100% + 14px) !important;
}

.book-header__popup-list {
  @include reset-list;
}

.book-header__popup-btn {
  @include reset-btn;
  width: 100%;
  display: block;
  border-bottom: 1px solid #EEEEEE;
  color: #000;
  transition: 0.1s ease all;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }

  &:active {
    opacity: 0.7;
  }
}

.book-header__popup-item:last-child .book-header__popup-btn {
  border-bottom: none;
}

.book-header__popup-btn--exit {
  color: $red;
}

.book-header__popup-btn-inner {
  display: flex;
  align-items: center;
  padding: 14px 24px;
}

.book-header__popup-btn-txt {
  margin-right: auto;
}

.book-header__popup-btn-inner svg {
  margin-left: 15px;
}