.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.modal__content {
  width: 100%;
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
}