@keyframes message-open {
  from {
    transform: translateX(50%) translateY(0);
  }

  to {
    transform: translateX(-50%) translateY(0);
  }
}

.status-message {
  width: 320px;
  min-height: 76px;
  padding: 12px 62px 20px 10px;
  position: fixed;
  z-index: 9;
  bottom: 140px;
  left: 50%;
  transform: translate(-50%);
  border-left: 4px solid #55B963;

  display: flex;
  align-items: flex-start;

  background-color: #EFFFF2;
  border-radius: 10px;
  
  animation: 0.15s linear message-open;
}

.status-message__icon {
  flex-shrink: 0 ;
  margin-right: 12px;
}

.status-message__close {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &:active {
    background-color: rgba(255, 255, 255, 0.9);
  }
}